@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    display: flex;
    /* width: 100vw; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--stone-100);
    font-family: 'Outfit', sans-serif;
}

.card {
    background-color: var(--white);
    border-radius: 16px;
    width: 100%;
    max-width: 500px;
    box-shadow: 10px 10px 7px 3px rgba(207, 174, 139, 1);
    padding: 32px;
    padding-top: 26px;
}
.receipe-img {
    margin-bottom: 1rem;
}
.receipe-img img {
    border-radius: 10px;
}
.receipe-name {
    font-family: 'Young Serif', serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.receipe-description {
    font-size: 11px;
    margin-bottom: 1rem;
    color: var(--brown-800);
}
.receipe-preparation-card {
    background-color: var(--rose-50);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 1.7rem;
}
.receipe-preparation-header {
    color: var(--rose-800);
    font-weight: 600;
    margin-bottom: 10px;
}
.receipe-preparation-points ul {
    font-size: 0.8em;
    line-height: 2em;
    color: var(--brown-800);
    padding-left: 30px;
}
.receipe-ingredients {
    font-family: 'Young Serif', serif;
    font-size: 24px;
    color: var(--brown-800);
    margin-bottom: 1rem;
}
.receipe-ingredients-points ul {
    color: var(--brown-800);
    padding-left: 16px;
    line-height: 19px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
hr{
    margin: 20px 0px;
}
.receipe-instructions {
    font-family: 'Young Serif', serif;
    font-size: 24px;
    color: var(--brown-800);
    margin-bottom: 1rem;
}
.receipe-instructions-points ol {
    font-size: 11px;
    color: var(--brown-800);
    padding-left: 16px;
}
ol li {
    line-height: 19px;
}
.receipe-nutrition {
    font-family: 'Young Serif', serif;
    font-size: 24px;
    color: var(--brown-800);
    margin-bottom: 0.5rem;
}
.receipe-nutrition-desc {
    font-size: 11px;
    color: var(--brown-800);
}
.table {
    width: 95%;
    line-height: 17px;
    font-size: 16px;
    color: var(--brown-800);
}
td {
    color: var(--brown-800);
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 0px;
    border-bottom: 1px solid rgb(103, 103, 103);
}

.fw-600 {
    font-weight: 600;
}
.fw-400 {
    font-weight: 400;
}
tr:last-child td {
    border: none;
}
footer {
    position: relative; /* Change to relative or static */
    margin-top: 20px; /* Adjust margin as needed */
    padding: 10px; /* Add padding if needed */
    text-align: center;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
